@{
    ViewBag.Title = "Hakkımda";
}

<div class="row my-2">
    <div class="col-md-8 text-justify">
        <h2>Hakkımda</h2>

        <div>
            <img src="/images/profil.jpg" alt="profil" style="float:left; width:200px; height: 200px;">
            <h4> Merhaba! Ben Büşra, Websiteme Hoşgeldin</h4>
            <p style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">1995 Ağustos doğumluyum. Şubat 2018de <a href="http://www.ktu.edu.tr/bilgisayar">KTÜ Bilgisayar Mühendisliği</a> bölümünden mezun oldum. Yazılım eğitimime <a href="https://www.wissenakademie.com/">Wissen Akademi</a> çatısı altında devam ediyorum.</p>
            <p style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Lorem ipsum dolor dummy text sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Lorem ipsum dolor dummy text sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>


    </div>
    <div class="col-md-4 p-2">
        <iframe width="355" height="300" src="https://www.youtube.com/embed/_SBQvd6vY9s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <marquee scrollamount="3" height="100" width="100%" direction="up">
            <p style="background-color:rgb(238, 241, 16) ; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Lorem ipsum dolor dummy text sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </marquee>
    </div>
</div>
